[init]
	defaultBranch = main
[fetch]
	prune = true

[user]
	name = David Karlsson
	email = davidkarlssson@gmail.com

[includeIf "gitdir:~/personal/"]
	path = ~/.config/git/personal

[includeIf "gitdir:~/work/"]
	path = ~/.config/git/work

[includeIf "gitdir:~/dotfiles/"]
	path = ~/.config/git/personal
[core]
	excludesfile = /home/daphen/.gitignore_global
[safe]
	directory = /home/daphen/nixos
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
	directory = /git/repo.git
	directory = /git/pool.git
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://github.com"]
	helper = 
	helper = !/nix/store/y3m73nv1ry783kqfjqq17p3kxxaxx5d1-gh-2.92.0/bin/.gh-wrapped auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/nix/store/y3m73nv1ry783kqfjqq17p3kxxaxx5d1-gh-2.92.0/bin/.gh-wrapped auth git-credential
